<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="beanScope" class="com.imooc.spring.BeanScope"
		scope="prototype">
	</bean>
	<!-- destroy-method="stop" init-method="start" -->
	<bean id="beanLifeCycle" class="com.imooc.spring.BeanLifeCycle">
	</bean>
	<bean id="moocApplicationContext"
		class="com.imooc.spring.aware.ImoocApplicationContext">
	</bean>
</beans>
